certifi==2022.12.7
chardet==4.0.0
click==8.0.1
colorama==0.4.4
idna==2.10
Markdown==3.3.4
mdown==2020.12.3
mkdir==2020.12.3
node==0.9.26
odict==1.7.0
orderdict==2020.12.3
plumber==1.6
public==2020.12.3
python-dateutil==2.8.1
readme-md==2019.1.28
requests==2.25.1
setupcfg==2020.12.3
six==1.16.0
uglify==0.0.1
urllib3==1.26.5
values==2020.12.3
write==2020.12.3
zope.component==5.0.0
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.interface==5.4.0
zope.lifecycleevent==4.3
